<div class="card text-center">
  <div class="card-header">
    Welcome Aboard!
  </div>
  <div class="card-body">
    <h5 class="card-title">Your secrets are save with us!</h5>
    <p class="card-text">This is an exclusive room where members can write embarrassing posts or share some embarrassing secrets. Inside the rooms, members can see who the author of a post is but, outside, they can only see the story and wonder who wrote it..</p>
    
		<%= link_to "Signup", signup_path, class: "btn btn-primary" %>
		<%= link_to "View Posts", posts_path, class: "btn btn-primary" %>
  </div>
  <div class="card-footer text-muted">
		<p> Democrats are like a big tortoise that's on its back and can't get up;</p>
    <footer class="blockquote-footer">Tortoise <cite title="Source Title">Tortoise Quotes</cite></footer>
  </div>
</div>